<p id="notice"><%= notice %></p>

<p>
  <strong>Login:</strong>
  <%= @user.login %>
</p>

<p>
  <strong>Admin login:</strong>
  <%= @user.admin_login %>
</p>

<p>
  <strong>Logout:</strong>
  <%= @user.logout %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
