<h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form_group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>
    
        <div class="form_group">
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
        </div>
      
        <% if devise_mapping.rememberable? -%>
          <div class="form_group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>
      
        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
      <% end %>
    
    <%= render "devise/shared/links" %>
