@import "bootstrap";

body {
    background-color #f5f5f1;
    color; #333333;
    font-family: Arial, Helvetica, sans-serif;
    }
    
    .navbar-inverse {
        background-color: #f64588;
    }
        .navbar-inverse .navbar-brand {
        font-family: guardian-egypt, georgia, serif;
        font-weight: 500;
        color: #f34546;
        font-size: 30px;
    }
    
    .navbar-inverse .navbar.nav > li > a {
        font-family: Arial, Helvetica sans-serif;
        font-size: 14px;
        font-weight: Bold;
        color: #f985657;
    }
    .centre {
        text_align: center;
    }
    
    .col-md-4:nth-child(3n+1){
        clear: left;
    }
    
    .col-md-6 {
        h3 {font-size: 45px;}
        h5 {font-size: 25px;}
        <p> {font-size: 18px;}
    }
    .caption {
            h3 {font-size: 18px;
                margin: 2px;
            }
            p {font-size: 15px;
                margin: 0px;
            }
    }