<h1>Listing products</h1>
<div class="centre">
  <div class="row">
      <% @products.each do |product| %>
        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag product.image.url %>
              <div class="caption">
              <h3><%= product.name %><h3>
                <p><%= number_to_currency(product.price, unit: "€",) %></p>
                <%= link_to 'Show', product, class: "btn btn-link" %>
              </div>
          </div>
        </div>
        <% end %>
</div>
</div>
<br>

<%= link_to 'New Product', new_product_path, class: "btn btn-link" %>
