<p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col-md-6">
      <div class ="thumbnail">
        <%= image_tag @product.image.url(:medium) %>
        </div>
     </div>
    <div class="col-md-6">
      <h3><%= @product.name %></h3>
      <p>  <%= @product.description %></p>
      <p>  <%= number_to_currency(@product.price) %></p>
  </div>
  </div>
  

<%= link_to 'Back', products_path, class: "btn btn-link" %>
